* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(166, 71, 255);;
}

/* ferramentas de pintura */
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.container-seletor {
    display: flex;
    align-items: center;
    gap: 2px;
}

.texto-seletor {
    font-size: 18px;
    font-weight: 500;
}

.seletor-cores {
    height: 40px;
    width: 40px;
    border: none;
    padding: 0;
    background-color: rgb(166, 71, 255);;
    cursor: pointer;
    margin-right: 20px;
}

.seletor-cores::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px 0 #555;
}

.container-cores-recentes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
    margin-top: 3px;
}

.cores-recentes {
    height: 25px;
    width: 35px;
    /* border: solid 1px #999; */
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px #555;
}

.color {
    vertical-align: text-top;
    width: 22px;
}

.container-deletes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.tamanho-painel {
    appearance: none;
    border: none;
    width: 60px;
    padding: 2px 5px;
    background-color: #111;
    color: white;
    border-radius: 7px;
}

.borracha {
    width: 22px;
    vertical-align: middle;
    cursor: pointer;
}

.apagar-tudo {
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
}

/* desenvoldido por */
.richard {
    font-size: 18px;
    margin: 20px 0;
}

.span-richard {
    font-weight: bold;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* painel de desenho */
.container-painel-desenho {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.painel-desenho {
    display: grid;
    --tamanho: 4;
    grid-template-columns: repeat(var(--tamanho), 1fr);
    grid-template-rows: repeat(var(--tamanho), 1fr);
    gap: 3px;

    height: 400px;
    width: 400px;

    box-sizing: content-box;
    background-color: #333;
    border-radius: 3px;
    padding: 2px;
}

.celulas {
    background-color: #777;
    border-radius: 2px;
}

/* mobile */
@media (max-width: 390px) {
    body, main {
        height: initial;
    }

    .painel-desenho {
        width: 350px;
        height: 350px;
    }

    .richard {
        font-size: 14px;
    }
}